* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d4dfff;
}
nav {
  background-color: #7979f6;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #7979f6; */
  padding: 10px 34px;
  width: 100%;
}
.navbar a {
  color: white;
  font-size: 2rem;
  font-weight: 1000;
  text-decoration: none;
}
#search-input {
  border: 1px solid black;
  border-radius: 5px;
  width: 244px;
  height: 32px;
  padding: 5px;
  box-shadow: 4px 4px 9px #0000008f inset;
  color: black;
}
#search-btn {
  width: 66px;
  height: 32px;
  border: 0;
  border-radius: 5px;
  background-color: #2300ff;
  color: white;
  font-size: 13px;
  cursor: pointer;
}
#search-btn:hover {
  background-color: #2200ff9a;
  border: 2px solid#006eff;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
}
#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  padding: 44px;
  align-items: center;
  justify-content: center;
}
#news-card {
  width: 334px;
  background-color: white;
  border: 0px solid black;
  position: relative;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  animation-name: slide;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
@keyframes slide {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
#news-card:hover {
  box-shadow: 4px 4px 8px #808080cf;
  width: 338px;
}
#news-card img {
  width: 98%;
  border-radius: 8px;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(149, 0, 255);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(153, 0, 255), rgb(136, 0, 255));
  border-radius: 10px;
}

#welcome-msg {
  position: fixed;
  font-size: 28px;
  text-align: center;
  margin: auto;
}

@media (max-width: 570px) {
  #search-input {
    width: 144px;
    /* height: 24px; */
  }
  .navbar a {
    font-size: 1.5rem;
  }
  .navbar {
    padding: 12px;
  }
}
